{% extends ('base.html.twig') %}

{% block body %}
    <section id="apie-mus" style="margin-top: 50px" class="mt-5 pt-5">
        <div class="container">
            <h3>Apie mus</h3>
            <p>Jau daugiau nei 20 metų su Jumis!</p>
            <div class="row my-5">
                <div class="col-lg-3 col-md-6">
                    <img src="{{ asset('img/start.svg') }}" alt="Pradzia" class="w-25 pb-2 history">
                    <p>UAB „Dauvidės prekyba“ įkurta 1998 metų gruodžio 10 dieną.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <img src="{{ asset('img/mission.svg') }}" alt="Veikla" class="w-25 pb-2 history">
                    <p>Pagrindinė įmonės veikla – didmeninė prekyba
                        automobilių eksploatacinėmis medžiagomis.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <img src="{{ asset('img/product.svg') }}" alt="Veikla" class="w-25 pb-2 history">
                    <p>Nuo veiklos pradžios didelis dėmesys skiriamas gaminamos ir
                        parduodamos produkcijos kokybei.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <img src="{{ asset('img/truck.svg') }}" alt="Veikla" class="w-25 pb-2 history">
                    <p>Pristatymo terminai optimalūs.</p>
                </div>

            </div>
        </div>

    </section>
    <section id="musu-produktai" class="mt-5 bg-light">
        <div class="container text-center mb-5 pt-5">
            <div class="row justify-content-center">
                <h2 class="col-12">Mūsų produktai</h2>
                <p class="text-center col-lg-8">Dalį parduodamų eksploatacinių medžiagų įmonė gamina ir
                    fasuoja savo gamybinėse patalpose.
                </p>
                <div class="col-md-6 col-8 mb-5">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ asset('img/Antifrizai.png') }}" alt="Antifrizai" class="d-block w-100">
                                <p>Aušinimo skysčiai</p>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('img/dot.png') }}" alt="Antifrizai" class="d-block w-100">
                                <p>Stabdžių skysčiai</p>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('img/langu.png') }}" alt="Antifrizai" class="d-block w-100">
                                <p>Langų plovimo skysčiai</p>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section>
        <div class="container mt-4 mb-5 text-center">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <img src="{{ asset('img/teamwork.svg') }}" alt="Bendradarbiavimas" class="w-25 pb-2 history">

                    <p>
                        Turima patirtis, lankstumas ir patrauklios kainos „Dauvidės prekybai“ leido užsitikrinti autoservisų,
                        degalinių, parduotuvių ir autotransporto įmonių pasitikėjimą.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="{{ asset('img/shop.svg') }}" alt="Parduotuve" class="w-25 pb-2 history">
                    <p>
                        Dirbdami su stambiausiomis įmonėmis
                        nepamirštame ir paprastų automobilininkų, kurie kviečiami apsipirkti mūsų parduotuvėje, esančioje
                        Kėdainių g. 27, Panevėžyje.
                    </p>
                </div>
            </div>
        </div>


    </section>


{% endblock %}