{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <section class="mt-5">
        <div class="container text-center">
            <div class="hero">
                <div >
                    <button class="btn-primary rounded">Pirk</button>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <h2>Sezono prekės - TOP 10</h2>
            <div class="row">
                <div class="product-card col-lg-3 col-md-4 col-sm-6 col-6 text-center mt-2 mb-2">
                    <div>
                        <img src="{{ asset('img/11.png') }}" alt="Pradzia" class="w-75 pb-2">
                        <p>Antifrizas -35</p>
                    </div>
                </div>
                <div class="product-card col-lg-3 col-md-4 col-sm-6 col-6 text-center mt-2 mb-2">
                    <div>
                        <img src="{{ asset('img/11.png') }}" alt="Pradzia" class="w-75 pb-2">
                    </div>
                </div>
                <div class="product-card col-lg-3 col-md-4 col-sm-6 col-6 text-center mt-2 mb-2">
                    <div>
                        <img src="{{ asset('img/11.png') }}" alt="Pradzia" class="w-75 pb-2">
                    </div>
                </div>
                <div class="product-card col-lg-3 col-md-4 col-sm-6 col-6 text-center mt-2 mb-2">
                    <div>
                        <img src="{{ asset('img/11.png') }}" alt="Pradzia" class="w-75 pb-2">
                    </div>
                </div>

            </div>
        </div>
            <div class="container text-center">
                <h2>Apie mus</h2>
                <div class="row my-5">
                    <div class="col-lg-3 col-md-6">
                        <img src="{{ asset('img/start.svg') }}" alt="Pradzia" class="w-25 pb-2 history">
                        <p>UAB „Dauvidės prekyba“ įkurta 1998 metų gruodžio 10 dieną.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <img src="{{ asset('img/mission.svg') }}" alt="Veikla" class="w-25 pb-2 history">
                        <p>Pagrindinė įmonės veikla – didmeninė prekyba
                            automobilių eksploatacinėmis medžiagomis.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <img src="{{ asset('img/product.svg') }}" alt="Veikla" class="w-25 pb-2 history">
                        <p>Nuo veiklos pradžios didelis dėmesys skiriamas gaminamos ir
                            parduodamos produkcijos kokybei.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <img src="{{ asset('img/truck.svg') }}" alt="Veikla" class="w-25 pb-2 history">
                        <p>Pristatymo terminai optimalūs.</p>
                    </div>

                </div>
            </div>



        </div>
    </section>

{% endblock %}
