{% extends 'base.html.twig' %}
{% block title %}Prekės Jūsų automobiliui{% endblock %}
{% block description %}Didmeninė ir mažmeninė prekyba automobilių eksploatacinėmis medžiagomis: alyva, tepalais, aušinimo skysčiais{% endblock %}

{% block body %}
    <section style="background-color: lightgray" class="pb-1">
        <div class="container mt-5 pt-2">
            <h1>Didmeninė prekyba automobilių eksploatacinėmis medžiagomis</h1>
        </div>
    </section>
    <section id="hero">
        <div class="hero container">
            <div class="hero-container">
                <div class="row">
                    <a href="{{ path('mainproduct.season', {id: 4}) }}">
                        <button class="hero-btn rounded">Žiemos prekės</button> </a>
                </div>
            </div>
        </div>
    </section>
<!--<section id="akcija">
        <div class="container bg-dark">
            <div class="row">
                <div class="col-md-6 col-sm-12 mt-md-5 mt-sm-2">
                    <h2 class="text-white text-md-right">Puikus pasiūlymas Jums</h2>
                    <p class="text-white text-md-right">2021.11.11 - 2021.11.30</p>
                    <p class="text-white text-md-right">Įsigykite nurodytą kiekį CHAMPION tepalų ir gaukite dovanų</p>
                    <h4 class="text-danger text-md-right font-italic">50L = 1 x MARŠKINĖLIAI</h4>
                    <h4 class="text-danger text-md-right font-italic">205L STATINĖ = 1 x STRIUKĖ</h4>
                </div>
                <div class="col-md-3 col-sm-12">
                    <img src=" {{ asset('img/champion_akcija.png') }}" alt="tepalu akcija" width="100%" class="img-sm-fluid float-md-left float-sm-none">
                </div>

            </div>
        </div>

    </section>-->
        {{ render(controller(
            'App\\Controller\\SeasonController::listWinterProducts')) }}
    <section>
        {{ render(controller(
            'App\\Controller\\CategoryController::index')) }}
    </section>
    <section id="partneriu-produkcija" class="bg-light">
        <div class="container mt-5 pt-5">
            <h2>Kiti prekių katalogai</h2>
            <div class="row mt-5 mb-5">
                <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
                    <a href="http://visbellabaltics.eu/produktai/" target="_blank">
                        <div class="bg-white partner-card">
                            <div>
                                <img src=" {{ asset('img/visbella.jpg') }}" alt="sandarinimo prekes" style="width:50%;">
                                <p>VISBELLA remonto komplektai, sandarinimo priemonės, klijai ir kitos prekės Jūsų
                                    automobiliui. </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
                    <a href="http://mfilter.lt/automobiliu-filtrai/" target="_blank">
                        <div class="bg-white partner-card">
                            <div>
                                <img src=" {{ asset('img/mfilter.png') }}" alt="automobilio filtrai" style="width:50%;">
                                <p>Jau daugelį metų prekiaujame lietuviškais automobilių filtrais MFilter. </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
                    <a href="http://www.agabaltija.eu/" target="_blank">
                        <div class="bg-white partner-card">
                            <div>
                                <img src=" {{ asset('img/aga.jpg') }}" alt="prieziuros prekes" style="width:50%;">
                                <p>Hi-Gear ir DoctorWax valikliai, priedai ir kitos priežiūros prekės. </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
                    <a href="https://www.championlubes.com/en-us" target="_blank">
                        <div class="bg-white partner-card">
                            <div>
                                <img src=" {{ asset('img/champion.png') }}" alt="prieziuros prekes" style="width:50%;">
                                <p>Champion alyva</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
                    <a href="https://lt.cx80.pl/" target="_blank">
                        <div class="bg-white partner-card">
                            <div>
                                <img src=" {{ asset('img/cx80.png') }}" alt="cx80 prieziuros prekes" style="width:50%;">
                                <p>CX80 automobilių priežiūros prekės</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
                    <a href="https://www.mannol.de/" target="_blank">
                        <div class="bg-white partner-card">
                            <div>
                                <img src=" {{ asset('img/mannol.png') }}" alt="Mannol tepalai" style="width:50%;">
                                <p>Mannol produkcija</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <section id="apie_mus">
        <div class="container">
            <h2>Apie mus</h2>
            <p>Jau daugiau nei 20 metų su Jumis!</p>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img src="{{ asset('img/start.svg') }}" alt="Pradzios iliustracija" class="w-25 pb-2 history">
                    <p>UAB „Dauvidės prekyba“ įkurta 1998 metų gruodžio 10 dieną.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <img src="{{ asset('img/mission.svg') }}" alt="Taikinio iliustracija" class="w-25 pb-2 history">
                    <p>Pagrindinė įmonės veikla – didmeninė prekyba
                        automobilių eksploatacinėmis medžiagomis.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <img src="{{ asset('img/product.svg') }}" alt="prekiu iliustracija" class="w-25 pb-2 history">
                    <p>Nuo veiklos pradžios didelis dėmesys skiriamas gaminamos ir
                        parduodamos produkcijos kokybei.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <img src="{{ asset('img/truck.svg') }}" alt="Sunkvezimio iliustracija" class="w-25 pb-2 history">
                    <p>Pristatymo terminai optimalūs.</p>
                </div>
            </div>
            <p class="pb-5">Turima patirtis, lankstumas ir patrauklios kainos „Dauvidės prekybai“ leido užsitikrinti autoservisų, degalinių, parduotuvių ir autotransporto įmonių pasitikėjimą. Jei norite gauti aktualius kainininkus ar aptarti bendradarbiavimo galimybes - susisiekite su mumis <a href={{ path('kontaktai') }}>kontaktų skiltyje </a> nurodytais būdais.</p>
        </div>

    </section>

{% endblock %}
