{% extends ('base.html.twig') %}

{% block title %}Saugos duomenų lapai{% endblock %}
{% block description %}DAUVIDĖS gaminių saugos duomenų lapai{% endblock %}


{% block body %}
<div class="container mt-5 pt-5 ">
    <h1 class="pb-5">Saugos duomenų lapai</h1>
    <div class="row text-left">
        <div class="col-lg-8">
            <p>SDL Antifrizas G12 -35 Dauvidė
                <a href="{{ asset('sdl/SDL-Antifrizas-G12-35-Dauvide.pdf') }}" target="_blank">Atsisiųsti</a>
            </p>
            <p>SDL Antifrizas G12 koncentratas Dauvidė
                <a href="{{ asset('sdl/SDL-Antifrizas-G12-koncentratas-Dauvide.pdf') }}" target="_blank">Atsisiųsti</a>
            </p>
            <p>SDL Antifrizas geltonas G11 -35 Dauvidė
                <a href="{{ asset('sdl/SDL-Antifrizas-geltonas-G11-35-Dauvide.pdf') }}" target="_blank">Atsisiųsti</a>
            </p>
            <p>SDL Antifrizas geltonas G11 koncentratas Dauvidė
                <a href="{{ asset('sdl/SDL-Antifrizas-geltonas-G11-koncentratas-Dauvide.pdf') }}" target="_blank">Atsisiųsti</a>
            </p>
            <p>SDL Antifrizas žalias G11 -35 Dauvidė
                <a href="{{ asset('sdl/SDL-Antifrizas-zalias-G11-35-Dauvide.pdf') }}" target="_blank">Atsisiųsti</a>
            </p>
            <p>SDL Antifrizas žalias G11 koncentratas Dauvidė
                <a href="{{ asset('sdl/SDL-Antifrizas-zalias-G11-koncentratas-Dauvide.pdf') }}" target="_blank">Atsisiųsti</a>
            </p>

        </div>

    </div>


</div>
{% endblock %}