{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">

        function showImage(imgPath) {
            var curImage = document.getElementById('currentImg');
            curImage.src = imgPath;
        }
    </script>
    <section id="breadcrumb">
        <div class="container mt-5">
            {% for product in products|slice (0,1) %}
                <ul class="breadcrumb">
                    <li><a href="{{ path('home') }}">Pradžia</a></li>
                    <li><a href="{{ path('category.show', {id: product.mainProduct.category.id}) }}">{{ product.mainProduct.category }}</a></li>
                </ul>
            {% endfor %}
        </div>
    </section>
    <section id="produktai-kategorijoje">
        <div class="container mt-1 pt-lg-5 pt-1">
            <div class="row">
                <div class="col-md-6 mb-1">
                    {% for product in products|slice (0,1) %}
                        <div>
                            <img src="{{ asset('img/' ~ product.imageName) }}" id="currentImg" alt="{{ product.mainProduct.name }}" title="{{ product.mainProduct.name }}" width="100%">
                        </div>
                    {% endfor %}
                    <ul class="colorpicker pl-0 row">
                        {% for product in products %}
                            <li class="col-lg-2 col-md-3 col-sm-4 col-4">
                                <img src="{{ asset('img/' ~ product.imageName) }}" width="50%" alt="{{ product.mainProduct.name }}" title="{{ product.name }}"
                                                            onclick="showImage('{{ asset('img/' ~ product.imageName) }}')" data-pin-nopin="true">
                            </li>

                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    {% for product in products|slice (0,1) %}
                        <h2 class="title"> {{ product.mainProduct }}</h2>
                        <a href="{{ path('category.show', {id: product.mainProduct.category.id}) }}">{{ product.mainProduct.category }}</a>
                        <div class="description">{{ product.mainProduct.description }} </div>
                    {% endfor %}

                    <ul style="list-style-type:none">
                        {% for product in products %}
                            <li>{{ product.aroma }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>

    </section>

    <section>
        {% for product in products|slice (0,1) %}
        {{ render(controller(
            'App\\Controller\\MainProductController::listMainProducts', {id: product.mainProduct.category.id})) }}
        {% endfor %}
    </section>




{% endblock %}