{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">

        function showImage(imgPath) {
            var curImage = document.getElementById('currentImg');
            curImage.src = imgPath;
        }
    </script>
    <section id="produktai-kategorijoje">
        <div class="container mt-5 pt-5">
            <div class="col-lg-6">
                {% for product in products|slice (0,1) %}
                    <h3>{{ product.mainProduct.category }} </h3>
                    <p> {{ product.mainProduct }}</p>
                    <div>
                        <img src="{{ asset('img/' ~ product.imageName) }}" id="currentImg" alt="Teacup" title="Blue Teacup" width="100%">
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <ul class="colorpicker pl-0 row">

                    {% for product in products %}
                        <li class="col-2 col-md-3"><img src="{{ asset('img/' ~ product.imageName) }}" width="50%"
                                                        onclick="showImage('{{ asset('img/' ~ product.imageName) }}')" data-pin-nopin="true"></li>

                    {% endfor %}
                </ul>

            </div>

        </div>

    </section>
    <section>
        {% for product in products|slice (0,1) %}
        {{ render(controller(
            'App\\Controller\\MainProductController::listMainProducts', {id: product.mainProduct.category.id})) }}
        {% endfor %}
    </section>




{% endblock %}