{% extends 'base.html.twig' %}
{% block title %}Produktų kategorijos{% endblock %}

{% block body %}
    <section id="breadcrumb">
        <div class="container mt-5">
            {% for mainProduct in mainProducts|slice (0,1) %}
                <ul class="breadcrumb">
                    <li><a href="{{ path('home') }}">Pradžia</a></li>
                    <li>{{ mainProduct.category }}</li>
                </ul>
            {% endfor %}
        </div>
    </section>
    <section id="produktai-kategorijoje">
        <div class="container mt-1 ">
            <h2>Produktai kategorijoje: {% for mainProduct in mainProducts|slice (0,1) %}{{ mainProduct.category }}{% endfor %} </h2>
            <p> </p>


            <div class="row mt-lg-2 mb-lg-2 mt-1 mb-1">
                {% for mainProduct in mainProducts %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="btn filterDiv">
                            <a href="{{ path('mainproduct.show', {id: mainProduct.id}) }}">
                                <div class="bg-white category-card p-1">
                                    <div><img src=" {{ asset('img/' ~ mainProduct.imageName) }}" alt="{{ mainProduct.name }}" width="80%">
                                    </div>
                                    <div>{{ mainProduct.name }}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </section>

{% endblock %}