<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ asset('img/logos/favicon.png') }}"/>
    <title>{% block title %}{% endblock %} - Dauvidė</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="akumuliatoriai, automobilių eksploatacinės medžiagos, autochemija, aušinimo skysčiai, automobilių stiklų valikliai, stabdžių skysčiai, distiliuotas vanduo, tepalai, filtrai, tepalo priedai, gamyba, autodalių pardavimas, didmeninė prekyba">
    <meta name="robots" content="index, follow">
    <link rel="apple-touch-icon" href="{{ asset('img/logos/favicon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top main_color">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">DAUVIDĖ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('apiemus') }}">Apie Mus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('mainproduct.index') }}">Produktai</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('saugos') }}">Saugos Duomenų Lapai</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('kontaktai') }}">Kontaktai</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

<footer class="mt-2 py-2 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">UAB Dauvidės Prekyba &copy; 2024</p>
    </div>
    <!-- /.container -->
</footer>
</body>
</html>
